*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
}
body{
  display: flex;
  flex-direction:column;
  height: 100vh;
  background-color: #c4c4c4;
}
footer{
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  background-color: #2d2e33;
  padding: 60px 10%;
}
ul{
  list-style: none;
}
.footer-col{
  width: 25%;
}
.footer-col h4{
  position: relative;
  margin-bottom: 30px;
  font-size: 22px;
  color: #f1bc0d;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: #27c0ac;
  height: 2px;
  width: 40px;
}
ul li{
  
}
ul li:not(:last-child){
  margin-bottom: 8px;
}
ul li a{
  display: block;
  font-size: 19px;
  text-transform: capitalize;
  color: #bdb6b6;
  text-decoration: none;
  transition: .4s;
  width: 10px;
}
ul li a:hover{
  color: #fff;
  padding-left: 2px;
}
.links a{
  display: inline-block;
  height: 44px;
  width: 44px;
  color: #fff;
  background-color: rgba(40,130,214,0.8);
  margin: 0 8px 8px 0;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  transition: .4s;
}
.links a:hover{
  color: #4d4d55;
  background-color: #fff;
}

@media (max-width: 740px){
  .footer-col{
    all: unset;
  }
  ul li a{
    margin-left: 35%;
  }
}
@media (max-width: 555px){
  .footer-col{
    width: 100%;
    text-align: center;
  }
  .footer-col h4::before{
    left: auto;
    width: 70px;
  }
}